<br /><br />
<div class="col-xs-6 col-xs-offset-3 text-center">
  <h1>Roster</h1>
  <br />
  <div class="col-xs-offset-10 col-xs-1">
    <h4>Practices attended</h4>
    <br />
  </div>
</div>

  <% @players.each do |player| %>
    <div class="col-xs-6 col-xs-offset-3">
        <div class="col-xs-5 pull-left">
          <%= link_to player_path(player), class: 'no-link' do %>
            <div><h3><%= player.first_name %> <%= player.last_name %></h3></div>
          <% end %>
        </div>
        <div class="col-xs-1 pull-right">
          <%= link_to player_path(player), class: 'no-link' do %>
            <div><h3><%= player.signed_up_practices.count %></h3></div>
          <% end %>
        </div>
        <hr />
    </div>
  <% end %>
