<br /><br /><br /><br />
<div class="booyah-box col-xs-6 col-xs-offset-3 text-center">
  <h1>Add a new practice</h1>
  <%= simple_form_for @practice, url: captain_practices_path do |f| %>
    <br />
    <%= f.label :date %>
    <%= f.text_field :date %>
    <br /><br />
    <%= f.label :time %>
    <%= f.time_select :time, {minute_step: 15, ampm: true} %>
    <br /><br />
    <%= f.submit "Add", class: "btn btn-primary btn-lg" %>
  <% end %>
</div>

<!-- <input type="text" id="datepicker" /> -->

<script>
  $(function() {
    $("#practice_date").datepicker({
      dateFormat: "yy-mm-dd"
    })
  });
</script>
